body{margin: 0; padding: 0; font-family: 'titillium_webregular'; }
a{text-decoration: none !important;}
button:focus{outline: 0}

/* used everywhere (start) */
.special-area{width: 100%; float: left;}
.special-form-group{margin-bottom: 6px; display: block; position: relative; float: left; width: 100%;}
.special-form-group .special-input{width: 100%; float: left; color: #707070; font-size: 11px; border: 0; padding: 17px 18px; font-weight: bold; letter-spacing: 0.9px;}
.special-form-group .special-input:focus{outline: 0}
.special-form-group .special-input::placeholder {color:#bebebe;}
.special-btn-area{width: 100%; float: left; margin-top: 17px;}
.special-btn-area .special-btn{width: 100%; float: left; color: #f9f9f9; font-weight: bold; letter-spacing: 0.8px; border: 0; cursor: pointer; font-size: 13px; text-align: center; padding: 13px 0px;}
.light-btn-bg{background: #bebebe;}
.dark-btn-bg{background: #707070;}
.clear{clear: both;}
.bg-9a9a9a{background: #9a9a9a;}
.text-bold{font-size: 16px; color: #707070; font-weight: 500; line-height: 1.6;}
.text-thin{font-size: 14px; color: #707070; font-weight: 300; line-height: 2;}
.web-show{display: block;}
.mobile-show{display: none;}
/* used everywhere (end) */

.auth-page-area{width: 100%; float: left; position: relative; background: #9a9a9a; padding: 40px 0;}
.auth-page-area .auth-box{width: 630px; float: left; position: relative; left: 50%; margin-left: -315px;}
.auth-page-area .auth-box .text-area{width: 100%; float: left; margin-bottom: 40px;}
.auth-page-area .auth-box .text-area .title{width: 100%; float: left; color: #ffffff; font-size: 18px; letter-spacing: 0.9px; font-weight: bold; text-align: center; margin-bottom: 10px;}
.auth-page-area .auth-box .text-area .big-title{width: 100%; float: left; margin-bottom: 22px; color: #f9f9f9; font-size: 32px; letter-spacing: 0.9px; font-weight: 100; line-height: 1.2; text-align: center;}
.auth-page-area .auth-box .text-area .big-title b{font-weight: bold;}
.auth-page-area .auth-box .text-area .detail{width: 100%; float: left; color: #ffffff; font-size: 11px; font-weight: bold; letter-spacing: 1px; text-align: center;}
.auth-page-area .auth-box .text-area .membership-active-text{width: 100%; float: left; margin-bottom: 20px; color: #f9f9f9; font-size: 32px; font-weight: 100; line-height: 1.2; letter-spacing: 0.8px; text-align: center;}
.auth-page-area .auth-box .text-area .membership-active-text b{font-weight: bold;}
.auth-page-area .auth-box .auth-form{width: 340px; float: left; position: relative; left: 50%; margin-left: -170px;}
.auth-page-area .auth-box .auth-form .btn-box{width: 47%; float: left; margin: 0 4px;}

footer{width: 100%; float: left; position: relative; bottom: 0px; background: #707070; padding: 35px 0 25px 0;}
footer .logo{width: 100%; float: left;}
footer .copyright{width: 100%; float: left; text-align: center; font-size: 12px; color: #f9f9f9;}
footer .submenu{float: right;}
footer .submenu a{float: left; font-size: 12px; color: #f9f9f9; padding: 0 11px; border-right: 1px solid #f9f9f9;}
footer .submenu a:last-child{border-right: 0;}

@media screen and (min-width: 992px) and (max-width: 1199px){

}

@media screen and (max-width: 1199px){

}

@media screen and (min-width: 768px) and (max-width: 991px){

}

@media screen and (min-width: 991px){

}

@media screen and (max-width: 991px){

}

@media screen and (max-width: 767px){
	.auth-page-area .auth-box{width: 310px; margin-left: -155px;}
	.auth-page-area .auth-box .auth-form{width: 310px; margin-left: -155px;}
	footer .submenu{width: 200px; float: left; position: relative; left: 50%; margin-left: -100px; margin-top: 20px;}
}

@media screen and (max-width: 320px){
	
}







